* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #0a0a0a;
    color: #fff;
}

.secao {
    padding: 100px 0;
    padding-left: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-left: 50px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.principal {
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-height: 85vh;
}

.principal h1 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: -4px;
}

.principal h1 span {
    color: #4d7cfe;
}

.principal p {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    color: #bbb;
    margin-bottom: 40px;
}

.botao {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4d7cfe;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.titulo-secao {
        font-size: 42px;
        margin-bottom: 60px;
        position: relative;
}

.titulo-secao::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100px;
    height: 4px;
    background-color: #4d7cfe;
}

.grade-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.card-projeto {
    background-color: #161616;
    border-radius: 10px;
    overflow: hidden;
}

.img-projeto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.info-projeto {
    padding: 20px;
}

.info-projeto h3 {
    margin-bottom: 10px;
}

.info-projeto p {
    color: #bbb;
    margin-bottom: 15px;
}

.info-projeto {
    color: #4d7cfe;
    font-weight: 500;
}

